
mixin hola(nombre)
    <p>#{ nombre }</p>


mixin nav_fixed_whatsapp_default()
    <a href="https://wa.me/#{ whatsapp_number }?text=Me%20gustaría%20ponerme%20en%20contacto%20con%20usted" class="whatsapp" target="_blank">
        <i class="fa fa-whatsapp whatsapp-icon"></i>
    </a>
